@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
p {
  color: black;
  font-size: 14px;
  margin-top: 5px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.section-title {
  font-size: 70px;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.02px;
  text-align: center;
}

.section-title span {
  color: #FB1751;
}
.cta {
  display: inline-block;
  padding: 20px 60px;
  color: white;
  background-color: transparent;
  border: 2px solid #FB1751;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.01px;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.cta:hover {
  color: white;
  background-color: #FB1751;
}

.brand h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}
.brand h1 span {
  color: #FB1751;
} 


/* Header section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header {
  min-height: 8vh;
  background-color: #1b1a1ae8;
  transition: 0.3s ease background-color;
}
#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul {
  position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;}

#header .nav-list ul li {
      display: inline-block;
    }

#header .nav-list ul.active {
  left: 0%;
}
#header .nav-list ul a {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}


#header .nav-list ul li:hover a {
  color: #FB1751;
}
/* End Header section */


/* H Section */
#home {
  background-image: url(me.png);
  background-size: cover;
  background-position: top center;
  position: relative;
}
#home::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: -1;
}
#home .home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#home h1 {
  display: block;
  width: fit-content;
  font-size: 60px;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}

#home h1 span {
  position: absolute;
  height: 100%;
  background-color: #FB1751;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}

/* About Section */
#about .about {
  flex-direction: row;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}
.hope{
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 70px; 
  margin-left: 400px;
  margin-bottom: 50px;
}
#about .col-right {
  width: 100%;
}
#about .col-right h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#about .col-right p {
  margin-bottom: 20px;
}
#about .col-right .cta {
  color: black;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 20px;
}
#about .col-left .about-img {
  height: 100%;
  width: 100%;
  position: relative;
  border: 10px solid white;
}
#about .col-left .about-img::after {
  content: "";
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid #FB1751;
  z-index: -1;
}
/* End About Section */

/* contact Section */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
#contact .contact-items {
  width: 400px;
}
#contact .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact-info h1 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
}
#contact .contact-info h2 {
  font-size: 13px;
  line-height: 2rem;
  font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}
#footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}
#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer .social-item img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}
#footer .social-item:hover img {
  filter: grayscale(0);
}
#footer p {
  color: white;
  font-size: 1.3rem;
}
/* End Footer */


/* Keyframes */


@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: #FB1751;
    font-weight: 500;
  }
}
/* End Keyframes */

